
<html>
    <head>
        <title> Message Board </title>
    </head>
    <body>
        <div>
            <% messages.forEach( msg => { %>
                <a href=<%= `/messages/${msg.id}`%>>
                    <div>
                        <h2><%= msg.user %></h2>
                        <p> <%= msg.added %></p>
                        <p><%= msg.text %></p>
                    </div>
                </a>
            <% }) %> 

            <a href="/new">New Message</a> 
        </div>

    </body>
</html>
