<html>
    <head>
        <link rel="stylesheet" href="/messageDetails.css">
        <title>
            Message details
        </title>
    </head>
    <body>
        <div>
            <h1><%= msg.user%></h1>
            <p><%= msg.added%></p>
            <p><%= msg.text%></p>
        </div>
    </body>
    
</html>