<html>
    <head>
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/messageDetails.css">
        <title>
            Message details
        </title>
    </head>
    <body>
        <div class="messageContainer">
            <h1><%= msg.username%></h1>
            <p><%= msg.added%></p>
            <p><%= msg.text%></p>

            <a class="returnLink" href="/"> â† Back to home</a>
        </div>
    </body>
    
</html>